
body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

.brsmall {
    display: block;
    margin-bottom: -.2em;
}



qblue::before {
    content: "▬";
    color:blue ;
}

qred::before {
    content: "▬";
    color:red ;
}
qskyblue::before {
    content: "▬";
    color:deepskyblue;
}
.navbarscritte{
    text-decoration: none;
    cursor: pointer;
}

.card-group{
    padding-left: 25px;
    padding-right: 25px;
}


/*Sezione More Stories*/
.titleb1{
    text-align: left; padding-top: 15px; padding-left: 15px; font-size: large
}

.subtitleb1{
    text-align: left; padding-bottom: 15px; padding-left: 15px; color: grey
}

.imgb1{
    margin-right: -35px; padding-top: 10px;padding-bottom: 10px
}



a:link {
    text-decoration: none;
    color: initial;
}

a:hover{
    text-decoration: underline;
}
.footer{
    margin-left: 30px;
    margin-right: 30px;
}

    #a1scritta{
        background-color: white; position: relative; margin-top: -35px; padding: 15px

}


@media screen and (max-width: 1450px) {
    .navbarscritte {
        display: none;
    }
}

/*PC*/
@media screen and (min-width: 992px){
    #b2{
        margin-left: 25px;
        padding-left: 65px
    }

    #colo1{
        padding-left: 60px; margin-right: 15px
    }

    .col-lg-7{
        margin-left: 25px;
        padding-left: 65px;
    }

    .wrtc{
        margin-top: 60px; margin-left: 30px; background-color: white; padding-top: 35px; padding-bottom: 35px; padding-left: 30px
    }
}


/*Mobile*/
@media screen and (max-width: 992px) {




    #a1scritta{
        max-width: 300px;
        background-color: white;
        margin-top: -75px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 10px;

    }


    #a2scritta{
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 90px;
        margin-left: -10px;
        margin-top: -50px;
    }



    #a3scritta{
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 90px;
        margin-left: -10px;
        margin-top: -50px;
    }
    #a4{
        margin-left: -10px;
    }

    #b2{
        margin-top: 10px;
    }

    .adv{
        display: none;
    }
    .col-lg-7{
        margin-top: 10px;
    }

    #c1{
        max-width: 400px;
    }
    .wrtc{
        margin-top: -100px;
        margin-left: 110px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: white;
    }

    .imgart{
    width: 100%;
    }
    


}

@media screen and (max-width: 500px){
}




